.editpress-auth-decoration {
  position: relative;
}

.p4 {
  padding-left: 4px;
  color: var(--vp-c-accent);
}

#editpress-page {
  position: relative;
}

#editpress-markdown {
  position: relative;
}

#editpress-markdown-content {
  position: absolute;
  left: 45%;
  top: var(--navbar-height);
  transform: translateX(-45%);
  width: calc(var(--content-width) + 10px);
  background: #fff;
  border-radius: 4px;
  z-index: 10;
}

.editable-menu {
  justify-content: flex-end;
}
